<section class="new-training9" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f1)" #f1="ngForm">
  <mat-card fxFlex.sm="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select
          placeholder="Choose Exercise"
          ngModel
          name="exercise66"
          required>
          <mat-option *ngFor="let x1 of exercises22"  [value]="x1.id">
            {{ x1.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button [disabled]="f1.invalid">Start</button>
    </mat-card-actions>
  </mat-card>
  </form>
</section>
