<mat-nav-list>
  <a mat-list-item *ngIf="!isAuth33"
     routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption9" >Signup</span>
  </a>
  <a mat-list-item  *ngIf="!isAuth33"
     routerLink="/login" (click)="onClose()">
    <mat-icon>login </mat-icon>
    <span class="nav-caption9">Login</span>
  </a>
  <a mat-list-item  *ngIf="isAuth33"
     routerLink="/training" (click)="onClose()">
    <mat-icon>directions_run</mat-icon>
    <span class="nav-caption9">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button  *ngIf="isAuth33"
            (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption9">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>

